html {
    scroll-behavior: smooth;
    --color-dark: #2D333B;
    --color-light: #F4F5F6;
    --color-highlight: #1D8A99;
    --card-bg-light: #fafafa;
    --card-shadow-normal: 5px 5px 10px #aaa;
    --card-shadow-active: 7px 7px 15px #999;
    --min-large-width: 1000px;

    /*--color-dark: #ff0000;*/
}

@media (hover: none) {
    .no-hover {
        pointer-events: none;
    }
}

body {
    font-family: 'Open Sans', sans-serif !important;

}

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Montserrat', sans-serif !important;
}

@media (min-width: 1000px) {
    html {
        scroll-snap-type: y proximity;
    }
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: var(--color-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 4vmin);
    color: var(--color-light);
    scroll-snap-align: start;
}

.App-header > h1 {

    font-size: calc(max(20px + 5vmin, 50px));
    overflow-wrap: normal;
}

.App-header .subheader {
    font-size: calc(max(10px + 3vmin, 30px)) !important;
}

.App-link {
    color: #61dafb;
}

.Section {

    padding-top: 50px;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    /*margin: auto;*/
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-wrap: wrap;
    z-index: 0;


}

.fp-text-dark {
    color: var(--color-dark) !important;
}

@media (min-width: 1000px) {
    .section-bottom {
        position: absolute;
        bottom: 5%;
    }
}

@media (max-width: 1000px) {
    .break-small {
        flex: 0 0 100%;
        height: 0;
    }
}

.force-bottom {
    position: absolute;
    bottom: 5%;
}


a {
    color: inherit !important;
    text-decoration: none;
}

.fade-in-section {
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(15vh);
    visibility: hidden;
    transition: opacity 0.9s ease-out, transform 0.7s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
    width: 100%;
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.section-content-small {
    min-width: 25%;
    max-width: 400px;
    margin-right: 4vw;
    margin-left: 4vw;
}

.section-content {
    align-items: stretch;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-self: center;
}


@media (max-width: 1000px) {
    .section-content-large {
        max-width: 90%;
    }
}

@media (min-width: 1000px) {
    .section-content-large {
        max-width: 50%;
    }
}

.section-content-large {
    flex: 1 0 50%;
    align-self: stretch;
    min-height: 20vh;
    display: flex;
    padding-bottom: 20px;
}

.section-dark{
    background-color: var(--color-dark);
    color: var(--color-light);
    --card-shadow-normal: 5px 5px 10px #2a2e33;
    --card-shadow-active: 7px 7px 15px #171a1f;
}

.section-content-valign {
    width: 100%;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-self: end;
}

.section-content-valign-bottom {
    align-self: end;
    margin-top: auto;
    /*margin-bottom: 20px;*/
    width: 100%;
}

.section-content-top {
    margin-bottom: auto;
    /*min-height: 200px;*/
}


.Section img {
    object-fit: cover;
    max-width: 100%;
}


.section-card {
    color: var(--color-dark);
    position: relative;
    border-radius: 0 0 5px 5px;
    box-shadow: var(--card-shadow-normal);
    margin-bottom: 20px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex: 1 0 30%;
    background-color: var(--color-light);
    z-index: 0;
    transition: all 0.3s;
}

.section-card:hover {
    box-shadow: var(--card-shadow-active);
    transform: scale(1.04) translateX(0);
    z-index: 5;
    transition: all 0.3s;
}

.section-card-contents {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex: 1 0 30%;
    z-index: 5;
}

.section-card:hover .section-card-image-container img {
    transform: scale(1.1);
    max-width: 100%;
}

.section-card-image-container {
    box-shadow: var(--card-shadow-normal);
    min-width: 100%;
    overflow: hidden;
}

.section-card-image-container img {
    transition: 0.5s;
    object-fit: cover;
    object-position: 0 0;
}

@media (max-width: 1000px) {
    .section-card {
        flex-basis: 90%;
    }
}

@media (min-width: 1000px) {
    .section-card-slide {
        position: absolute;
        width: 100%;
        visibility: hidden;
        transition: transform 1s ease-in-out, visibility 1s;
        top: 0;
        transform: translateX(0);
        height: 100%;
    }

    .section-card:hover .section-card-slide {
        visibility: visible;
        transition: z-index 0.1s 2s, transform 1s ease-in-out, visibility 1s;
    }

    .section-card:hover .section-card-slide-right {
        transform: translateX(100%);
    }

    .section-card:hover .section-card-slide-left {
        transform: translateX(-100%);
    }


}

@media (max-width: 1000px) {
    .section-card-slide {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
    }

    .section-card:hover .section-card-slide {
        /*transform: translateY(100%);*/
        left: 0;
        z-index: 10;
        animation-name: section-card-downup;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes section-card-downup {
        0% {
            transform: translateY(0);
            z-index: 0;
        }

        30% {
            transform: translateY(100%);
            z-index: 0;
        }

        31% {
            z-index: 10;
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
            z-index: 10;
        }
    }

}




.section-card-bottom {
    border-radius: 0 0 5px 5px;
    position: relative;
    padding: 20px;
    background-color: var(--color-light);
    box-shadow: var(--card-shadow-normal);
    align-self: stretch;
    flex: 1 0 auto;
    z-index: 10;
    display: flex;
}

.project-card {
    flex-grow: 1;
    margin: 20px;
    max-width: 30%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1500px) {
    .project-card {
        max-width: 20%;
    }
}

@media (max-width: 1000px) {
    .project-card {
        max-width: 400px;
    }
}

.project-card-bottom {
    align-self: stretch;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.gallery {
    flex-direction: row;
    align-items: stretch;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

@media (min-width: 1000px) {
    .gallery-left-big {
        justify-content: left;
    }
}

.gallery-fullwidth {
    width: 100%;
}

.socials-button {
    text-align: center;
    margin: 0 15px 0 0;
    min-width: 15%;
    filter: drop-shadow(var(--card-shadow-normal));
    transition: 0.3s;
    border-radius: 0 0 5px 5px;
}

.socials-icon {
    transform: translateY(15%);
    position: relative;
    z-index: 1;
    transition: 0.8s;
}


.link-nostyle {
    text-decoration: none;
}

.link-nostyle:hover {
    text-decoration: none;
}

.link-nostyle:visited {
    text-decoration: none;
}

.pad-hor {
    padding-left: 3px;
    padding-right: 3px;
}


.socials-button:hover {
    filter: drop-shadow(var(--card-shadow-active));
    transform: scale(1.04);
    z-index: 100;
}

.section-badge {
    border-radius: 5px;
    right:0;
    color: white;
    padding: 2px 4px;
}

.language-right {
    justify-self: end;
    margin-left: auto;

}

.Language {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #bbb;
    padding: 1px 1px 1px 10px;
    min-height: 30px;
}

.language-noline {
    border: none;
}

.link-highlight {
    color: var(--color-highlight) !important;
}